extends layout

block content
	if user
		input#hidden(type='hidden' value=user._id)
		h4.text-center Declined Transactions

		if decliners != ''
			table.table.table-bordered
				thead Declined transactions
					tr
						th Decliner
						th Declined Uname
						th Declined Firstname
						th Declined Lastname
						th Amount Declined
						th Pop
						th Approve
						th Decline
				tbody
					each decliner, i in decliners
						each inc, uplineIndex in decliner.incomingReservations
							if inc.confirmation_flag == 'Declined'
								tr
									td= decliner.username
									td= inc.downline
									td= inc.downlineFirstname
									td= inc.downlineLastname
									td= inc.amount
									td
										input.btn.btn-primary#pop(type='button' value='view pop' data-toggle="modal" data-target="#popModal")
										div.modal.fade(tabindex="-1" id="popModal" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true")
											div.modal-dialog
												div.modal-content
													div.modal-header
														button.close(data-dismiss="modal" aria-hidden="true") &times;
													div.modal-body
														img(src='/uploads/'+inc.imageName,  alt='uploaded image' width='500px' height='500px' data-id='image')
													div.modal-footer
														input.btn.btn-default(type="button" data-dismiss="modal" value='Close') 
									td#stateApproved
										input.btn.btn-primary#approve(type='button' value='Approve' data-toggle="modal" data-target="#approveModal")
									td#stateDeclined
										input.btn.btn-danger#decline(type='button' value='Decline' style='margin-left:10px' data-toggle="modal" data-target="#declineModal")
										input#hiddenData(type='hidden' value=inc.downline+'/'+inc.amount+'/'+inc.coupleIndex+'/'+inc.coupleId+'/'+uplineIndex+'/'+decliner._id+'/'+inc.imageName+'/'+decliner.username)
	
		else
				p.alert.alert-info No declined transaction for now

	div.modal.fade(tabindex="-1" id="approveModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(data-dismiss="modal" aria-hidden="true") &times;
					h4.modal-title(id="myModalLabel") Approve Transaction
				div.modal-body 
					.well
						p#top Are you sure about this? As this can not be undone
						p#error
						p.alert.alert-success#approveSuccess
						input.btn.btn-large.btn-block.btn-primary#approveBtn(type="button" value='Approve')
				div.modal-footer
					input.btn.btn-default(type="button" data-dismiss="modal" value='Close') 

	div.modal.fade(tabindex="-1" id="declineModal" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true")
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(data-dismiss="modal" aria-hidden="true") &times;
					h4.modal-title(id="myModalLabel2") Decline Transaction
				div.modal-body 
					.well
						p#top Are you sure about this? As this can not be undone
						p#error
						p.alert.alert-success#declineSuccess
						input.btn.btn-large.btn-block.btn-danger#declineBtn(type="button" value='Decline')
				div.modal-footer
					input.btn.btn-default(type="button" data-dismiss="modal" value='Close') 


	script.
		$(document).ready(function(){
			
			const myId = $('#hidden').val();
			$('#declineSuccess').hide();
			$('#approveSuccess').hide();


				$('#approve').on('click', function(e){

					e.preventDefault();  //Always use this to prevent stupid!!!! default behaviour

					//$target = $(e.target);
					//var collection = ($target.attr('data-id'));
					var collection = $('#hiddenData').val();
					collection = collection.split('/');

					var duname = collection[0];
					var approvalAmount = collection[1];
					var coupleIndex = collection[2];
					var coupleId = collection[3];
					var uplineIndex = collection[4];
					var uplineId = collection[5];
					var imageName = collection[6];
					var uplineUsername = collection[7];
					
						$('#approveBtn').on('click', function(e){
							$('#approveBtn').hide();
							$('#top').hide();
							//alert(duname+approvalAmount+coupleIndex+coupleId+uplineIndex);
							e.preventDefault();
							$.ajax({
									type: 'POST',
									url: '/medusa123/approve-declined',
									data: {duname: duname, approvalAmount: approvalAmount, uplineId: uplineId , coupleIndex: coupleIndex, coupleId: coupleId, uplineIndex: uplineIndex, imageName: imageName, uplineUsername: uplineUsername},
									success: (response)=>{
										$('#approveSuccess').html(response.msg);
										$('#approveSuccess').show();
										$('#approve').hide();	//won't be needed if socket.io is implemented
										$('#decline').hide();	//won't be needed if socket.io is implemented
										$('#stateApproved').css('color', 'green').html('Approved'); //won't be needed if socket.io were to be implemented
										//alert(response.msg);
									},
									error: (err)=>{
										console.log(err);
									}
							});


							//}
					 });
				});


				$('#decline').on('click', function(e){
					//Always use this to prevent stupid!!!! default behaviour
					e.preventDefault();

					$target = $(e.target);
					var inserts = $('#hiddenData').val();
					collection2 = inserts.split('/');

					var duname = collection2[0];
					var approvalAmount = collection2[1];
					var coupleIndex = collection2[2];
					var coupleId = collection2[3];
					var uplineIndex = collection2[4];
					var uplineId = collection2[5];
					var imageName = collection2[6];
					var uplineUsername = collection2[7];
					//alert(uplineId);
					//alert(duname+approvalAmount+coupleIndex+coupleId+uplineIndex);

						$('#declineBtn').on('click', function(e){
							$('#declineBtn').hide();
							$('#top').hide();
							//alert(duname+approvalAmount+coupleIndex+coupleId+uplineIndex);
							e.preventDefault();
							$.ajax({
									type: 'POST',
									url: '/medusa123/decline-declined',
									data: {duname: duname, approvalAmount: approvalAmount, uplineId: uplineId, coupleIndex: coupleIndex, coupleId: coupleId, uplineIndex: uplineIndex, imageName: imageName, uplineUsername: uplineUsername},
									success: (response)=>{
										$('#declineSuccess').html(response.msg);
										$('#declineSuccess').show();
										$('#approve').hide();	//won't be needed if socket.io is implemented
										$('#decline').hide();	//won't be needed if socket.io is implemented
										$('#stateDeclined').css('color', '#d9534f').html('Declined'); //won't be needed if socket.io is 
										//window.location.href='/users/transactions';

									},
									error: (err)=>{
										console.log(err);
									}
							});


							//}
					 });
				});
		});