extends layout

block content
	style.
		.error{
			color: red;
			font-size: 1.1em;
		}
	if user
		h3 Your Profile

		if user.inbox != ''
			a.btn.btn-info(href='/users/inbox' style='font-size: 1.5em') Please click to check your inbox immediately
			br
			br

		if user.profileUpdated == 'false'
			h3.alert.alert-info You need to update your profile info so as to enable you make and receive reservations
			
			//- this is needed for both conditions
		div.row
			div.col-lg-6
				div.well
					div.well-heading
						h4 Current Profile Info
					hr
					div.well-body
						div.row
							div.col-lg-12
								if user
									h5 Name : 
										b(style='color: green') #{user.firstname}  #{user.lastname} 
									h5 Username : 
										b(style='color: green') #{user.username}
									h5 Email : 
										b(style='color: green') #{user.email}
									h5 Telephone : 
										b(style='color: green') #{user.phone}
									if bankDetails
										each detail, i in bankDetails
											h5 Account Holder Name : 
												b(style='color: green') #{detail.accountHolder}
											h5 Account Number : 
												b(style='color: green') #{detail.accountNumber}
											h5 Bankname : 
												b(style='color: green') #{detail.bankname}


			if user.profileUpdated == 'false'
				div.col-lg-6
					div.well
						div.well-heading
							h4 Update Profile Info
						hr
						div.well-body
							form(method='POST', id='form' action='/users/profile')
								.form-group
									label Email
									input.form-control(type='email', name='email', required, placeholder='Enter email')
								.form-group
									label Telephone
									input.form-control(type='text', name='phone', required, placeholder='Enter phone number')
								.form-group
									label Your firstname
									input.form-control(type='text', name='firstname', required, placeholder='Enter your firstname')
								.form-group
									label Your lastname
									input.form-control(type='text', name='lastname', required, placeholder='Enter your lastname')
								hr
								h5 Bank details
								.form-group
									label Account Holder firstname
									input.form-control(type='text', name='acctFirstName', id='acctFirstName', required, placeholder='Enter Account firstname')
									span(id='acctFirstName_error_message' class='error')
								.form-group
									label Account Holder lastname
									input.form-control(type='text', name='acctLastName', id='acctLastName', required, placeholder='Enter Account lastname')
									span(id='acctLastName_error_message' class='error')
								.form-group
									label Account Number
									input.form-control(type='text', name='acctNumber', id='acctNumber', required, placeholder='Enter account number')
									span(id='acctNumber_error_message' class='error')
								.form-group
									label Bankname
									input.form-control(type='text', name='bankname', id='bankname', required, placeholder='Enter bankname')
									span(id='bankname_error_message' class='error')
								
								input.btn.btn-primary.btn-large.btn-block#first(type='submit', name='submit', value='Save')
								//- input(type='hidden' name='_csrf' value=csrfToken)
										
			else
				div.col-lg-6
					div.well
						div.well-heading
							h4 Edit Profile Info
						hr
						div.well-body
							form(method='POST', id='form', action='/users/profile')
								.form-group
									label Account Holder firstname
									input.form-control(type='text', name='acctFirstName', id='acctFirstName' , required, placeholder='Enter Account firstname' maxlength='15')
									span(id='acctFirstName_error_message' class='error')
								.form-group
									label Account Holder lastname
									input.form-control(type='text', name='acctLastName', id='acctLastName', required, placeholder='Enter Account lastname')
									span(id='acctLastName_error_message' class='error')
								.form-group
									label Account Number
									input.form-control(type='text', name='acctNumber', id='acctNumber', required, placeholder='Enter account number' maxlength='13')
									span(id='acctNumber_error_message' class='error')
								.form-group
									label Bankname
									input.form-control(type='text', name='bankname', id='bankname', required, placeholder='Enter bankname')
									span(id='bankname_error_message' class='error')
								.form-group
									label Phone
									input.form-control(type='text', name='phone', id='phone', placeholder='Optional...' maxlength='11')
									span(id='phone_error_message' class='error')
								
								input.btn.btn-primary.btn-large.btn-block#second(type='submit', name='submit', value='Save')

	script.
		$(document).ready(function(){ //word.replace(/[<>]/g, "")
			//hide all error span
			$('#acctFirstName_error_message').hide();
			$('#acctLastName_error_message').hide();
			$('#acctNumber_error_message').hide();
			$('#bankname_error_message').hide();
			$('#phone_error_message').hide();



			var err_acctFirstName = false;
			var err_acctLastName = false;
			var err_acctNumber = false;
			var err_bankname = false;
			var err_phone = false;

			var acctFirstName = $('#acctFirstName').val();
			var acctLastName = $('#acctLastName').val();
			var acctNumber = $('#acctNumber').val();
			var bankname = $('#bankname').val();
			var phone = $('#phone').val();
			var phoneFlag;

			$('#acctFirstName').focusout(function(){
				validate_acctFirstName();
			});

			$('#acctLastName').focusout(function(){
				validate_acctLastName(); //validate_acctNumber()
			});

			$('#acctNumber').focusout(function(){
				validate_acctNumber();
			});

			$('#bankname').focusout(function(){
				validate_bankname();
			});

			$('#phone').focusout(function(){
				validate_phone();
			});


			function validate_acctFirstName(){
				var acctFirstName = $('#acctFirstName').val();

				//check the length of the string
				if(acctFirstName.length < 3 || acctFirstName.length > 15){
				 	$('#acctFirstName_error_message').html('acctFirstName can only be between 3 to 15 characters long');
				 	$('#acctFirstName_error_message').show();
				 	err_acctFirstName = true;
				 }else{
				 	$('#acctFirstName_error_message').hide();
					var pattern = new RegExp('^\\d', 'gi');
					if(acctFirstName.match(pattern)){
						$('#acctFirstName_error_message').html('acctFirstName can only start with a letter');
						$('#acctFirstName_error_message').show();
						err_acctFirstName = true;
					}else{
						$('#acctFirstName_error_message').hide();
						var pattern = /^[a-z]+$/i;
						if(!acctFirstName.match(pattern)){
							$('#acctFirstName_error_message').html('acctFirstName can only contain alphabets');
							$('#acctFirstName_error_message').show();
							err_acctFirstName = true;
						}else{
							$('#acctFirstName_error_message').hide();
						}
					}
				 }	
			}

			function validate_acctLastName(){

				var acctLastName = $('#acctLastName').val();

				if(acctLastName.length < 3 || acctLastName.length > 15){
				 	$('#acctLastName_error_message').html('Name can only be between 3 to 15 characters long');
				 	$('#acctLastName_error_message').show();
				 	err_acctLastName = true;
				 }else{
				 	$('#acctLastName_error_message').hide();
					var pattern = new RegExp('^\\d', 'gi');
					if(acctLastName.match(pattern)){
						$('#acctLastName_error_message').html('Name can only start with a letter');
						$('#acctLastName_error_message').show();
						err_acctLastName = true;
					}else{
						$('#acctLastName_error_message').hide();
						var pattern = /^[a-z]+$/i;
						if(!acctLastName.match(pattern)){
							$('#acctLastName_error_message').html('Name can only contain alphabets');
							$('#acctLastName_error_message').show();
							err_acctLastName = true;
						}else{
							$('#acctLastName_error_message').hide();
						}
					}
				 }
			}

			function validate_acctNumber(){
				var acctNumber = $('#acctNumber').val();
				//check the length of the string
				if(acctNumber.length > 13){
				 	$('#acctNumber_error_message').html('Account number should be less than 14 characters long');
				 	$('#acctNumber_error_message').show();
				 	err_acctNumber = true;
				 }else{
						$('#acctNumber_error_message').hide();
						var pattern = /^[0-9]+$/i;
						if(!acctNumber.match(pattern)){
							$('#acctNumber_error_message').html('Account number can only contain numbers');
							$('#acctNumber_error_message').show();
							err_acctNumber = true;
						}else{
							$('#acctNumber_error_message').hide();
						}
				}
			}

			function validate_bankname(){

				var bankname = $('#bankname').val();
				//check the length of the string
				if(bankname.length < 3){
				 	$('#bankname_error_message').html('Bankname can only be between 3 to 15 characters long');
				 	$('#bankname_error_message').show();
				 	err_bankname = true;
				 }else{
				 	$('#bankname_error_message').hide();
					var pattern = new RegExp('^\\d', 'gi');
					if(bankname.match(pattern)){
						$('#bankname_error_message').html('Bankname can only start with a letter');
						$('#bankname_error_message').show();
						err_bankname = true;
					}else{
						$('#bankname_error_message').hide();
						var pattern = /^[a-z]+$/i;
						if(!bankname.match(pattern)){
							$('#bankname_error_message').html('Bankname can only contain alphabets');
							$('#bankname_error_message').show();
							err_bankname = true;
						}else{
							$('#bankname_error_message').hide();
						}
					}
				 }
			}

			function validate_phone(){

				var phone = $('#phone').val();
				//check the length of the string
				if(phone.length == 0){
					phoneFlag = 0;
				}else{
					if(phone.length > 0 && phone.length < 11){
					 	$('#phone_error_message').html('Phone number should be less than 11 characters long');
					 	$('#phone_error_message').show();
					 	err_phone = true;
					 	phoneFlag = -1;
					 }else{
							$('#phone_error_message').hide();
							var pattern = /^[0-9]+$/i;
							if(!phone.match(pattern)){
								$('#phone_error_message').html('Account number can only contain numbers');
								$('#phone_error_message').show();
								err_phone = true;
								phoneFlag = -1
							}else{
								$('#phone_error_message').hide();
								phoneFlag = 1;
							}
					}
				}
			}


			$('#form').submit(function(){
				err_acctFirstName = false;
				err_acctLastName = false;
				err_acctNumber = false;
				err_bankname = false;
				err_phone = false;

				validate_acctFirstName();
				validate_acctLastName();
				validate_acctNumber();
				validate_bankname();
				validate_phone();

				if(err_acctFirstName == false && err_acctLastName == false && err_acctNumber == false && err_bankname == false && (phoneFlag == 1 || phoneFlag == 0)){
					return true;
				}else{
					return false;
				}


			});
				
		});